services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/app
      JWT_SECRET: dev-secret
      JWT_EXPIRES_IN: 15m
      REFRESH_TOKEN_TTL_DAYS: 30
      ADMIN_EMAIL: admin@example.com
      ADMIN_PASSWORD: admin123
      ADMIN_FIRST_NAME: Admin
      ADMIN_LAST_NAME: User
      SMTP_HOST: "smtp.strato.de"
      SMTP_PORT: "587"
      SMTP_USER: "no-reply@bootsfuehrerschein24.com"
      SMTP_PASS: "wybFuf-tutcu9-rohhub"
      SMTP_FROM: "no-reply@bootsfuehrerschein24.com"
      WEB_ORIGIN: http://localhost:3000
      PORT: 3001
    ports:
      - "3001:3001"
    depends_on:
      - db

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    environment:
      PORT: 3000
      NEXT_PUBLIC_API_BASE: http://localhost:3001
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
